/* Trong file background.css */

.background {
    background-image: url('/background.jpg'); /* Sử dụng background.jpg từ thư mục public */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22%; /* Thay đổi chiều cao để gradient kéo xuống dưới */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Gradient từ đậm đến nhạt từ trên xuống dưới */
  }
  